/*This is a comment to practice commit and push on git*/

#lga #logo {
	display: block;
	margin: auto;	
	position:relative;	
	height: 92px;
	width: 272px;
	text-align: center;
	padding-top: 109px;

}

#lga {
	height: 233px;
	width: 980px;
	margin-top: 89px;
	display: block;
	text-align: center;
	margin: auto;
}

#searcharea {
	margin: auto;
	display: block;	
	text-align: center;
}
#searchbar {
	position: relative;
	margin: 5px;
	text-align: center;
	width: 600px;
	height: 38px;
	
}

.button{
	position: relative;
	padding: 12px;
	margin: 12px;
}

#header ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	
}

#header li {
	
	float: right;
}

#header li a {
	display: block;
	padding: 14px 5px;
	text-align: center;
	text-decoration: none;
	font-family: Arial;
	color: #000;
	opacity: .75;
	margin-left:6px;
	margin-right: 6px;
}

#header li a:hover {
	text-decoration: underline;

}

#header{
	margin: 15px;
}

.button{
	color:#000;
	opacity: .65;
	font-size: 15px;
	font-weight: bolder;
	border-left-color: rgb(242,242,242);
	border-right-color: rgb(242,242,242);
	border-bottom-color: rgb(242,242,242);
	
}

.button:hover {
	color: #000;
	
}

#header #menu{
	position: relative;
	top: 11px;
	margin-right: 6px;
	margin-left: 6px;
}

#header #bell {
	position: relative;
	top: 12px;
	margin-left: 2px;
}

#header #me {
	position:relative;
	top: 7px;
	border-radius: 16px;
	margin-left:6px;
	margin-right: 6px;
}

#searcharea input[type="text"]{
	background: url(images/mic_search.png) no-repeat;
	position:relative;
	display: inline-block;
	background-size: 35px;
	background-position: right;
}


#footer #left_footer li{
	position: relative;
	display: block;
	list-style-type:none;
	margin: 5px;
	float: left;
	padding: 5px;
	bottom: 12px;
	left: -30px;
}

#footer #right_footer li{
	position: relative;
	list-style-type: none;
	margin: 5px;
	float: right;
	padding: 5px;
	bottom: 12px;
	right: 10px;

}

#footer{
	position:relative;
	display:block;
	background-color: #f2f2f2;
	top: 292px;
	height: 40px;
	font-family: Arial;
	padding: 5px;

}

#footer a {
	text-decoration: none;
	color: #000;
	opacity: .75;
	font-size: 15px;
}

#footer a:hover {
	text-decoration: underline;
}

body{
	margin: 0;
}